@import url("https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap");

/* Tailwind CSS import */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*Tobii mods*/
  .tobii-zoom {
    width: 100%;
  }
  .tobii__slide figure > img {
    padding-bottom: 50px;
  }

  /* iframe {
        max-width: 90%;
        margin: auto;
    } */

  .tobii {
    background-color: black;
  }

  /* URL and coordinates, with mandatory keyword fallback */
  body,
  image,
  div,
  section {
    cursor: url("/public/mus.png") 25 25, pointer;
  }
}
