---
---
<section class="whitespace-nowrap overflow-x-hidden bg-orange-950 text-white py-4">
    <div class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6 ">
        <span>Uperfekt er perfekt</span>
        <span>Om Pierre Falcke</span>
        <span>Hvad er stock-fotos?</span>
        <span>Pierres berømmelse</span>
        <span>En skillevej</span>
        <span>Fotoeksperimenter</span>
        <span>Analog fotografering</span>
        <span>Glitch art</span>
        <span>Lomografi</span>
        <span>Pierre Falckes nye bog</span>
    </div>
    <div class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6 " aria-hidden="true">
        <span>Uperfekt er perfekt</span>
        <span>Om Pierre Falcke</span>
        <span>Hvad er stock-fotos?</span>
        <span>Pierres berømmelse</span>
        <span>En skillevej</span>
        <span>Fotoeksperimenter</span>
        <span>Analog fotografering</span>
        <span>Glitch art</span>
        <span>Lomografi</span>
        <span>Pierre Falckes nye bog</span>
    </div>
</section>